@import url(https://fonts.googleapis.com/css?family=Orbitron);
#redirect
{
    align-items: center;
    justify-content: center;
    background-color:white;
    border: 0;
    font-family: 'Orbitron', Courier, sans-serif;
    color: orange;
    text-shadow: 0 0 30px rgba(0,0,0,0.30);
    font-size: 22;
    margin-left: 80%;
    margin-top: 50%;
}
.textBox
{
    font-size: 60px;
    font-family: 'Orbitron', Courier, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
span
{
    display:inline-block;
    font-weight: bolder;
    animation: shift 6s linear infinite;
    color: #fff;
}
/* find out more on @keyframes*/
@keyframes shift 
{
    0%
    {
        text-shadow: 0 0 30px rgba(0,0,0,0);
    }
    50%
    {
        text-shadow: 0 0 30px rgba(0,0,0,0.30);
        transform: translateY(30px);
    }
    100%
    {
        text-shadow: 0 0 30px rgba(0,0,0,0);
    }
}
span:nth-child(1)
{
    animation-delay: 0.5s;
}
span:nth-child(2)
{
    animation-delay: 1s;
}
span:nth-child(3)
{
    animation-delay: 1.5s;
}
span:nth-child(4)
{
    animation-delay: 2s;
}
span:nth-child(5)
{
    animation-delay: 2.5s;
}
span:nth-child(6)
{
    animation-delay: 3s;
}
span:nth-child(7)
{
    animation-delay: 3.5s;
}
span:nth-child(8)
{
    animation-delay: 4s;
}span:nth-child(9)
{
    animation-delay: 4.5s;
}span:nth-child(10)
{
    animation-delay: 5s;
}span:nth-child(11)
{
    animation-delay: 5.5s;
}
span:nth-child(12)
{
    animation-delay: 6s;
}